{% extends 'base.html' %}
{% block title %}Accueil{% endblock %}

{% block content %}

    {% if animations.count == 0  %}
        <h1>Il n'y a pas d'atelier pour le moment</h1>
    {% else %}
    <h1>Nouveautés !</h1>

    <h2>Les 5 derniers ateliers</h2>
    <form method="POST">
    {% csrf_token %}
    <ul>
        {% for atelier in animations %}
            <li>
                <p><label>Nom de l'atelier : {{ atelier.name }}</label></p>
                <p><label>Description : {{ atelier.description }}</label></p>
                <p><label>Date : {{ atelier.date }}</label></p>
                <img src="{{ atelier.image.url }}" alt="Atelier image">
                <input type="submit" name="submit" value="S'inscrire"
                       formaction="{% url "print_animations" id_anim=atelier.id %}">
            </li>
        {% endfor %}
    </ul>
    </form>
    {% endif %}
{% endblock %}