{%extends 'base.html'%}
{%block title %}Accueil{% endblock %}
    {% block content%}
        <h1>Nouveautée ! </h1>

        <!-- On affiche les 5 derniers ateliers créer-->
        <h2>Les 5 derniers ateliers</h2>

        <ul>
            {% for atelier in animations %}
                <li>
                    <p><label> Nom de l'atelier : {{ atelier.name }}</label></p>
                    <p><label> Description : {{ atelier.description }}</label></p>
                    <p><label>Date : {{ atelier.date }}</label></p>
                    <p><label>Heure de début : {{ atelier.hour }}</label></p>
                    <p><label>Heure de fin : {{ atelier.hour_end }}</label></p>
                    <img src="{{ atelier.image.url }}" alt="Atelier image">
                {% if user.is_authenticated %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="atelier" value="{{ atelier.id }}">
                        <input type="hidden" name="mediatheque" value="{{ atelier.users.mediatheque.id }}">
                        <input type="hidden" name="user" value="{{ user.id }}">
                        <input type="submit" value="S'inscrire dans l'atelier" formaction="{% url "inscription" %}">
                    </form>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endblock %}