{% extends 'base.html' %}
{% block title %} Ateliers {% endblock %}

{% block content %}
<h1>Listes de tous les ateliers</h1>

    <form method="POST">
    {% csrf_token %}
    <ul>
        {% for atelier in animation %}
            <li>
                <p><label>Nom de l'atelier : {{ atelier.name }}</label></p>
                <p><label>Nom de la mediathèque : {{ atelier.users.mediatheque.name }}</label></p>
                <p><label>Description : {{ atelier.description }}</label></p>
                <p><label>Date : {{ atelier.date }}</label></p>
                <img src="{{ atelier.image.url }}" alt="Atelier image">
                <input type="submit" name="submit" value="S'inscrire"
                       formaction="{% url "print_animations" id_anim=atelier.id %}">
            </li>
        {% endfor %}
    </ul>
    </form>
{% endblock %}