{% extends 'base.html' %}
{% block title %} Ateliers {% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Listes de tous les ateliers</h1>

        <form method="POST">
            <div class="row">
                {% csrf_token %}
                {% for atelier in animation %}
                    <div class="col-md-6 col-sm-12">
                        <div class="card">
                            <img src="{{ atelier.image.url }}" alt="Atelier image" class="img">
                            <div class="card-body">
                                <h5 class="card-title">{{ atelier.name }}</h5>
                                <p><label>Nom de la mediathèque : {{ atelier.users.mediatheque.name }}</label></p>
                                <p><label>Description : {{ atelier.description }}</label></p>
                                <p><label>Date : {{ atelier.date }}</label></p>
                                {% if user.is_authenticated %}
                                    <input class="btn btn-primary" type="submit" name="submit" value="S'inscrire"
                                           formaction="{% url "print_animations" id_anim=atelier.id %}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <input class="btn btn-primary" type="submit" name="submit" value="Retour à l'accueil" formaction="{% url "acceuil" %}">
        </form>
    </div>
{% endblock %}