{% extends 'base.html' %}

{% block title %} Liste des ateliers ou vous êtes inscrits {% endblock %}

{% block content %}
    <div class="text-center">
        {% if animations|length == 0  %}
            <h1>Vous n'êtes inscrit à aucun atelier</h1>
        {% else %}
            <h1>Vos réservations</h1>
            <form method="POST">
                {% csrf_token %}
                {% for anim in animations %}
                    <p><a href="{%url "animation" idanimations=anim.id%}">
                        {{ anim.name }}
                    </a></p>
                {% endfor %}
            </form>
        {% endif %}
    </div>

{% endblock %}