{%extends 'base.html'%}
{%block title%}Mon Compte{%endblock%}
{%block content%}
    <h1>Ma page personnelle</h1>
    
    <p>Vous etes connecté en tant que {{user.username}}</p>
    <p>Vous avez {{user.date_joined}} comme date d'inscription</p>
    <p>Vous avez {{user.last_login}} comme date de derniere connexion</p>

    <!--Affichage de champs pour modifier les informations du compte-->
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'password_change'%}">Modifier votre mot de passe </a>
        <br>
        <a href="{% url 'editProfile'%}">Modifier votre compte </a>
        <br>
        <a href="{% url 'deleteProfile'%}">Supprimer votre compte </a>
    </form>

    <a href="{% url 'acceuil' %}">Retour a l'acceuil</a>
{%endblock%}