{% extends 'base.html' %}
{% block title %}Ajouter une mediathèque{% endblock %}
{% block content %}
    <nav class="navbar navbar-light">
        <!-- On affiche les liens des autres-->
        <p><a class="navbar-brand" href="{% url 'UsersViews' %}">Utilisateurs</a></p>
        <p><a class="navbar-brand" href="{% url 'UsersCreation' %}">Ajouter un utilisateur</a></p>
        <p><a class="navbar-brand" href="{% url 'MediaLibraryViews' %}">Médiathèques</a></p>
    </nav>
    <h1>Ajouter une mediathèque</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter</button>
    </form>
{% endblock %}