{% extends 'base.html' %}
{%block title %}Administration{% endblock %}

{% block content %}
    <nav class="navbar navbar-light">
        <!-- On affiche les liens des autres-->
        <p><a class="navbar-brand" href="{% url 'UsersViews' %}">Utilisateurs</a></p>
        <p><a class="navbar-brand" href="{% url 'UsersCreation' %}">Ajouter un utilisateur</a></p>
        <p><a class="navbar-brand" href="{% url 'MediaLibraryViews' %}">Médiathèques</a></p>
        <p><a class="navbar-brand" href="{% url 'MediaLibraryCreations' %}">Ajouter une médiathèque </a></p>
    </nav>
    <div class="text-center">
        <h1>Administration</h1>
        <h2>Log du site</h2>
        <p>
            {% for line in log %}
                <b>{{ line }}</b> : {{ line.last_login }}<br>
            {% endfor %}
        </p>
    </div>
{% endblock %}