{% extends 'base.html' %}
{%block title %}Administration{% endblock %}

{% block content %}
    <nav class="navbar navbar-light">
        <!-- On affiche les liens des autres-->
        <p><a class="navbar-brand" href="{% url 'print_users' %}">Utilisateurs</a></p>
        <p><a class="navbar-brand" href="{% url 'create_user' %}">Ajouter un utilisateur</a></p>
        <p><a class="navbar-brand" href="{% url 'get_mediatheques' %}">Médiathèques</a></p>
        <p><a class="navbar-brand" href="{% url 'create_mediatheque' %}">Ajouter une médiathèque </a></p>
    </nav>

    <h1>Administration</h1>
    <h2>Log du site</h2>
    <p>
    <!-- On affiches les logs avec le ficher debug.log -->
        {% for line in log %}
            {{ line }}<br>
        {% endfor %}
    </p>
{% endblock %}