{% extends 'base.html' %}
{% block title %}Liste des médiathèque {% endblock %}

{% block content %}
    <h1>Liste des médiathèque</h1>
    <form method="POST">
    <ul>
        {% for mediatheque in mediatheques %}
            <li>
                <a href="{%url "mediatheque_info" id=mediatheque.id%}"></a>
                {{ mediatheque.nom }}
            </li>
            <input type="checkbox" name="mediatheques" value="{{ mediatheque.id }}">
        {% endfor %}

    </ul>

    </form>

{% endblock %}