{% extends 'base.html' %}
{% block title %} Utilisateur {% endblock %}
{% block content %}
    <h1>Utilisateur</h1>
    <p>Voici la liste des utilisateurs</p>
    <ul>
        {% for user in users %}
            <!--Rends les utilisateur cliquables afin d'aller sur la page edit_user-->
            {% if user.is_superuser%}
                {% else %}
            <a href="{%url "edit_user" id=user.id%}">
                <li>{{ user.username }}</li>

            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}