{% extends base%}
    <!--Page pour reset son mot de passe-->
    {% block title %}{{ Reset du mot de passe }}{% endblock %}
    
    {% block content %}
    
    <form method='POST'>
        {% csrf_token %}
        <label for="nouveau mot de passe"> Nouveau mot de passe </label>
        <input type="password" name="password1" id="password1" required>
        <label for="confirmation"> Confirmer votre nouveau mon de passes </label>
        <input type="password" name="password2" id="password2" required>
        <input type="submit" value="Valider">
    </form>
    {% endblock %}