{% extends 'base.html' %}
{% block title %}Liste des animations{% endblock %}
{% block content %}
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="{% url 'AtelierViews' %}" class="btn btn-link">Afficher les ateliers de votre médiathèque</a>


        <p><a class="navbar-brand" href="AddAtelier.html">Ajout d'un atelier</a></p>

    </nav>
    <div class="text-center">
        <h1>{{ user.mediatheque.name }}</h1>
        {% if animations.count == 0  %}
            <p>Il n'y a pas d'animation pour le moment</p>
        {% else %}
            {% for animation in animations %}
                <br>
                <p><a href="{%url "InscriptionGet" idanimation=animation.id%}">{{ animation.name }}</a></p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}