{% extends 'base.html' %}
{% block title %}Liste des ateliers de votre médiathèque ! {% endblock %}
{% block content %}
    <nav class="navbar navbar-light">
        <p><a class="navbar-brand" href="AddAtelier.html">Ajout d'un atelier</a></p>

        <p><a class="navbar-brand" href="{% url 'AnimationViews' %}">Afficher les ateliers pour valider les inscriptions</a></p>
    </nav>
    <div class="text-center">
        {% if animations.count == 0  %}
            <h1>Vous n'avez pas encore créer d'atelier ! </h1>
        {% else %}
            <h1>Ateliers {{ mediatheque.name }}</h1>
            {% for atelier in animations %}
                <form method="POST">
                {% csrf_token %}
                <a href="{%url "AtelierEditing" idanimations=atelier.id%}">
                    <li>{{ atelier.name }} {{ atelier.users.mediatheque.name }}</li>
                </a>
                <input type="checkbox" name="atelier" value="{{ atelier.id }}">Supprimer l'atelier
            {% endfor %}
        <br>
        <button type="submit" formmethod="POST" formaction="{% url "AtelierDelation" %}">Supprimer</button>
        </form>
        {% endif %}

    </div>
{% endblock %}